@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .grid-pattern {
    background-image: radial-gradient(circle, #434656 1px, transparent 1px);
    background-size: 32px 32px;
    opacity: 0.1;
  }
  .glass-card {
    background: rgba(42, 42, 42, 0.6);
    backdrop-filter: blur(12px);
  }
}
